# Aplicação
SECRET_KEY=uma-chave-longa-e-aleatoria-aqui

# Banco de dados
DB_HOST=db-censo
DB_USER=censo_user
DB_PASSWORD=sua-senha-aqui
DB_NAME=censo_db

# AWS S3
AWS_ACCESS_KEY_ID=sua-access-key
AWS_SECRET_ACCESS_KEY=sua-secret-key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=nome-do-seu-bucket